body{
    text-align: center;
    background-color: lightblue;
}

header{
    font-size: 6vw;
}
div{
    font-size: 2vw;
}
h2{
    font-size: 1.5vw;
}
h3{
    font-size: 1.5vw;
}

img{
    display: inline-flex;
    width: 10%;
    align-items:center;
    justify-content: center;
}

#container{
    text-align: center;
    margin: 0 auto;
    justify-content: center;
    
}

.teljes{
    border: 10px solid rgb(255, 255, 255);
    margin: 0 10%;
    border-radius: 100px;
    box-shadow: 10px 10px 10px black;
}

@media only screen and (max-width: 780px) {
img{
    width: 25%;
    
}
header{
    font-size: 6vw;
}
div{
    font-size: 3vw;
}
h2{
    font-size: 3vw;
}
h3{
    font-size: 3vw;
}

}